/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(load.gif) center no-repeat #fff;
}

h1 {
  text-align: center;
  font-family: Arial;
  font-size: 5vw;
  padding-top: 30px;
  color: #fff;
}

hr {
  width: 60%;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

th[scope="row"] {
  background-color: #d7d9f2;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 2px solid #c8c8c8;
  letter-spacing: 1px;
  font-family: Arial;
  font-size: .8rem;
  width: 100%;
}

body {
  background-color: #e2e2e2;
  background-image: url(saturne.jpg);
  background-attachment: fixed;
}

nav {
  width: 100%;
  background-color: #4b4b4b;
  min-height: 10%;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color: white;
}

#BigB {
  background-color: #696969;
  font-family: Arial;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  padding: 15px;
  align-items: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.button {
  background-color: #fff;
  border: 3px solid #535353;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #535353;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
